openapi: 3.0.1
info: 
  title: APi agencia de viajes
  description: Breve descripcion
  version: 1.0.0
servers: 
- url: https://api.direccionapi/v1/clientes
tags: 
- name: clientes
  description: Este endpoint

paths:
  /:
    post:
      tags:
        - clientes
      summary: Inserta información de un nuevo cliente a la BD.
      parameters:
        - $ref: '#/components/parameters/token'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BodyClientesPost'
        required: true
      responses:
        200:
          description: (OK) La información de la respuesta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExitoClientesPost'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

    /{idCliente}:
      get:
        tags:
        - clientes
        summary: Obtiene la informacion de la base de datos de un cliente
        parameters:
        - $ref: '#/components/parameters/token'
        - name: idCliente
          in: path
          description: Identificador del cliente a obtener
          required: true
          schema:
            type: string
          
        responses:
          200:
            description: (Ok) la informacion del cliente se obtuvo correctamente
            content: 
              application/json:
                schema:
                  $ref: '#/components/schemas/ExitoClientesGet'
          400:
            $ref: '#/components/responses/BadRequest'
          401:
            $ref: '#/components/responses/Unauthorized'
          404: 
            $ref: '#/components/responses/NotFound'
          500:
            $ref: '#/components/responses/ServerError'  

components: 
  responses: 
    Unauthorized: 
      description: (Unauthorized) no hay autorizacion para llamar al servicio
    NotFound:
      description: (NotFound) no se encontro la informacion
      
    BadRequest: 
      description: (BadRequest) los datos enviados son incorrectos o hay datos obligatorios no enviados
      
    ServerError:
      description: Error en el servidor
        
  
  parameters: 
    token: 
        in: header
        description: Token de autenticacion
        required: true
  
  schemas: 
    BodyClientesPost:
      type: object
      properties:
        primer_nombre:
          type: string
          description: Primer nombre del cliente
        segundo nombre:
          type: string
          description: Segundo nombre del cliente
          
          
    ExitoClientesPost:
      type: object
      properties:
        respuesta:
          type: integer
          enum: [1]
          description: Bandera que nos indica si la llamada al servicio fue exitosa.
        idCliente:
          type: integer
          enum: [222]
          description: id que le corresponde al usuario
          
    ExitoClientesGet:
      type: object
      properties:
        primer_nombre:
          type: string
          description: Primer nombre del cliente
        segundo_nombre:
          type: string
          description: Segundo nombre del cliente  
          
          
          
          
          
          